@charset "utf-8";
/* CSS Document */
/*6首页_index starts*/

.containerFour {
    margin-top: 73px;
    padding-bottom: 70px;
}
.containerFour .sectionOneSlider {
    width: 100%;
    position: relative;
}
.containerFour .sectionOneSlider .bx-wrapper .bx-pager.bx-default-pager a {
    color: #67666a;
    width: 12px !important;
    height: 12px !important;
}
.containerFour .sectionOneSlider .bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #0074FF !important;
}
.containerFour .sectionOneSlider .pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5%;
    width: 100%;
    z-index: 300;
}
.containerFour .sectionOneSlider .swiper-pagination-switch {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 17px;
    background: #676767;
    margin: 0 8px;
    cursor: pointer;
    opacity: .9;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#C7B7B7B7, endColorstr=#C7B7B7B7);
}
.containerFour .sectionOneSlider .swiper-active-switch {
    background: #0074FF;
}
/*----------end-slider----------*/

.containerFour .sectionOne {
    padding-bottom: 125px;
}
.containerFour .sectionOne h1 {
    text-align: center;
    color: #0074ff1a;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 64px;
}
.containerFour .sectionOne h2 {
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 25px;
}
.containerFour .sectionOne h2 span {
    color: #0074FF;
}
.containerFour .sectionOne h3 {
    color: #666666;
    font-size: 15px;
    text-align: center;
    line-height: 27px;
    letter-spacing: 1px
}
/*list slide starts*/

.containerFour .slide {
    cursor: pointer;
    margin-right: 0px !important;
    width: 194px !important;
}
.containerFour .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: #000000;
    opacity: .5;
    z-index: 200;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.containerFour .slide:hover .overlay {
    display: none;
}
.containerFour .bx-viewport {
    height: 395px !important;
}
.containerFour .slide:hover {
    /*transform:scale(1.2);*/
    
    z-index: 1000;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-box-shadow: -1px -2px 14px -3px rgba(107, 107, 107, 1);
    -moz-box-shadow: -1px -2px 14px -3px rgba(107, 107, 107, 1);
    box-shadow: -1px -2px 14px -3px rgba(107, 107, 107, 1);
    top: -52px;
}
.containerFour .slide:hover .hoverPosh {
    display: block;
}
.containerFour .slide:hover .masterOne {
    display: none;
}
.containerFour .masterOne h5 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding-top: 12px;
    position: relative;
    z-index: 1000
}
.containerFour .bx-wrapper {
    top: 40px;
    transition: all ease .5s;
}
.containerFour .bx-wrapper .bx-viewport {
    padding: 60px 0 25px 0;
    transition: all ease .5s;
}
.containerFour .hoverPosh {
    width: 100%;
    background: #0074FF;
    position: absolute;
    bottom: -102px;
    display: none;
}
.containerFour .hoverPosh h6 {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 28px 0 14px 0;
}
.containerFour .hoverPosh a {
    color: #0074FF;
    font-size: 16px;
    text-align: center;
    display: block;
    width: 84px;
    padding: 4px 0 5px 0;
    background: #fff;
    border-radius: 30px;
    margin: 0 auto 30px auto;
}
.containerFour .masterOne {
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    background: #0074FF;
    position: absolute;
    top: 50%;
    margin-top: -54px;
    z-index: 100000
}
.containerFour .sectionOne .bx-prev {
    left: -79px !important;
}
.containerFour .sectionOne .bx-next {
    right: -72px !important;
}
.containerFour .bx-wrapper .bx-pager {
    display: none !important;
}
.containerFour .masterImg {
    width: 33px;
    margin: 19px auto 19px auto;
}
.containerFour .sectionOne .bx-prev {
    width: 22px !important;
    background: none !important;
}
.containerFour .sectionOne .bx-next {
    width: 22px !important;
    background: none !important;
}
.containerFour .bx-wrapper .bx-viewport {
    border: none !important;
    box-shadow: none !important;
}
/*list slider ends*/
.containerFour .sectionThree {
    padding-bottom: 35px;
    position: relative;
}
.containerFour .mapbox {
    width: 124px !important;
    position: absolute;
    right: 22%;
    top: 50% !important;
}
.containerFour .sectionThree .secthr {
    color: #0074ff1a;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 64px;
}
.containerFour .sectionThree h2 {
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 25px;
}
.containerFour .sectionThree h2 span {
    color: #0074FF;
}
.containerFour .sectionThree h3 {
    color: #666666;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px
}
.containerFour .sectonTwo {
    width: 100%;
}
.containerFour .sectionContent {
    background: #0074FF;
    padding-bottom: 177px;
}
.containerFour .sectionContent h1 {
    text-align: center;
    color: #ffffff1a;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 64px;
}
.containerFour .sectionContent h2 {
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 25px;
}
.containerFour .sectionContent h2 span {
    color: #fff;
}
.containerFour .sectionContent h3 {
    color: #fff;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px
}
.containerFour .loopSet dl {
    width: 260px;
    background: #fff;
    float: left;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 40px;
    -webkit-box-shadow: 0 0 15px rgba(17, 7, 14, .1);
    -moz-box-shadow: 0 0 15px rgba(17, 7, 14, .1);
    box-shadow: 0 0 15px rgba(17, 7, 14, .1);
    cursor: pointer;
}
.containerFour .loopSet dl dt {
    width: 260px;
}
.containerFour .loopSet dl dd h5 {
    text-align: center;
    color: #333333;
    font-size: 20px;
    padding: 20px 0 15px 0;
}
.containerFour .loopSet dl dd p {
    width: 200px;
    height: 111px;
    margin: 0 auto;
    font-size: 12px;
    color: #333333;
    line-height: 20px;
    opacity: .6;
    text-transform: uppercase;
}
.containerFour .loopSet dl dd a {
    color: #0074FF;
    font-size: 16px;
    text-align: center;
    display: block;
    padding: 10px 0px;
    border: 1px solid #0074FF;
    border-radius: 3px;
    width: 195px;
    margin: 16px auto 30px auto;
}
.containerFour .last {
    margin-right: 0 !important;
}
.containerFour .loopSet dl:hover {
    -webkit-box-shadow: 0 0 90px rgba(17, 7, 14, .12);
    -moz-box-shadow: 0 0 90px rgba(17, 7, 14, .12);
    box-shadow: 0 0 90px rgba(17, 7, 14, .12);
}
.containerFour .loopSet dl:hover dd a {
    background: #0074FF;
    color: #fff;
}
.containerFour .sectionBg {
    margin-top: -133px;
}
.containerFour .animalsec {
    background-color: #f7f7f7;
    position: relative;
}
.containerFour .animalsec .hbox {
    font-size: 36px;
    color: #333333;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 25px;
}
.containerFour .animalsec h3 {
    font-size: 38px;
    color: #0074ff1a;
    text-align: center;
    padding: 69px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
.containerFour .brownsec {
    color: #0074FF;
}
.containerFour .animalsec p {
    font-size: 14px;
    color: #666666;
    text-align: center;
    width: 884px;
    margin: 0 auto;
    line-height: 22px;
    padding-bottom: 47px;
}
.containerFour .picbox {
    padding-bottom: 71px;
}
.containerFour .sectionFour dl {
    float: left;
    width: 360px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 4px 7px #ececec;
    margin-left: 40px;
    cursor: pointer;
}
.containerFour .myfirst {
    margin-left: 0px !important;
}
.containerFour .picbox dl dt {
    width: 360px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    position: relative;
}
.containerFour .picbox dl dt a {
    display: block;
}
.containerFour .picbox dl dd {
    font-size: 14px;
    color: #333333;
    line-height: 22px;
    width: 322px;
    margin: 0 auto;
    padding-top: 15px;
    min-height: 102px;
}
.containerFour .hoverbox {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.67);
    display: none;
}
.containerFour .hoverbox h2 {
    font-size: 14px;
    color: #fff;
    width: 60px;
    padding: 22px 0;
    border-radius: 50%;
    background-color: #0074FF;
    text-align: center;
    margin: 80px auto;
}
.containerFour .picbox dl:hover .hoverbox {
    display: block;
}
.containerFour .sectionFour {
    padding-bottom: 50px;
}
/* Float */

.containerFour .hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.containerFour .hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}
.containerFour .sectionFive {
    padding-bottom: 40px;
}
.containerFour .sectionFive h1 {
    color: #f8f4ed;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.containerFour .sectionFive h2 {
    color: #333333;
    font-size: 36px;
    text-align: center;
    margin-top: -25px;
    padding-bottom: 25px;
}
.containerFour .sectionFive h2 span {
    color: #0074FF;
}
.containerFour .logoLoop ul {
    width: 956px;
    margin: 0 auto;
}
.containerFour .logoLoop ul li {
    float: left;
    width: 98px;
    margin-right: 72px;
    padding-bottom: 35px;
}
.containerFour .lastLi {
    margin-right: 0 !important;
}
/*6首页_index ends*/
/*2关于恒泰_集团介绍_introduce starts*/

.containerone {
    position: relative;
    top: -70px;
}
.containerone .mapSec {
    min-height: 830px;
}
.containerone .total {
    background: #ffffff;
}
.containerone .sectionmain {
    width: 97%;
    margin: 27px auto 85px auto;
}
.containerone .spone {
    border-bottom: 2px solid #0074FF;
    width: 50px;
    display: block
}
.containerone .banonepos {
    position: absolute;
    bottom: 67px;
    left: 65px;
}
.containerone .banonepos h1 {
    color: #0074FF;
    font-size: 30px;
}
.containerone .banonepos h2 {
    color: #ffffff;
    font-size: 18px;
    padding: 5px 0;
    opacity: .2;
}
.containerone .bannerone {
    position: relative;
}
.containerone .paragrafsect p {
    font-size: 16px;
    color: #333333;
    padding: 10px 0;
    line-height: 30px;
}
.containerone .paragrafsect {
    padding: 10px 0;
}
.containerone .sectionhead h1 {
    color: #0074FF;
    font-size: 25px;
}
.containerone .sectionhead h2 {
    color: #0074FF;
    font-size: 18px;
    padding: 5px 0;
    opacity: .2;
}
.containerone .sectionhead {
    width: 227px;
    margin: 0 auto;
    text-align: center;
    padding: 45px 0 40px 0;
}
.containerone .sectionhead .spone {
    margin: 6px auto;
}
.containerone .galone {
    width: 333px;
    float: left;
    margin-right: 23px;
}
.containerone .galimgpic {
    width: 333px;
}
.containerone .galone h1 {
    font-size: 18px;
    color: #333333;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}
.containerone .galone h2 {
    font-size: 16px;
    color: #666666;
    text-align: center;
}
.containerone .galone p {
    font-size: 12px;
    color: #666666;
    padding: 10px 47px;
    line-height: 22px;
}
.containerone .nopad {
    margin-right: 0px !important;
}
.containerone .newimg {
    width: 930px;
}
.containerone .inside h1 {
    font-size: 25px;
    color: #ffffff;
}
.containerone .inside h2 {
    font-size: 13px;
    color: #ffffff;
    padding: 5px 0;
}
.containerone .inside h3 {
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
}
.containerone .inside h4 {
    font-size: 18px;
    color: #ffffff;
}
.containerone .inside h5 {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}
.containerone .newimg {
    position: relative;
}
.containerone .inside {
    width: 300px;
    border-left: 1px solid #ffffff;
    margin: 15px 0px 15px 30px;
    padding: 2px 0px 2px 26px;
}
.containerone .newimgpos {
    width: 360px;
    background: #e4bf75;
    position: absolute;
    top: 9%;
    left: -12%;
}
.containerone .spfour {
    font-size: 12px;
    color: #ffffff;
    background: #0074FF;
    padding: 5px 15px;
}
.containerone .sectionfiove h2 {
    font-size: 16px;
    color: #333333;
    padding: 11px 0px 11px 20px;
}
.containerone .sectionfiove h3 {
    font-size: 16px;
    color: #333333;
    padding: 0px 0px 18px 20px;
}
.containerone .sectionfiove {
    width: 340px;
    border-left: 3px solid #d6d6d6;
    padding: 0 0 0 10px;
}
.containerone .sectionfour {
    padding: 50px 0;
    width: 676px;
    margin: 0 auto;
}
.containerone .twoimgone {
    width: 100%;
}
.containerone .twoimgtwo {
    width: 100%;
}
.containerone .spthree {
    display: inline-block;
    background: #ffffff;
    width: 12px;
    margin: 5px 12px 5px 0;
}
.containerone .sectionfiove h1 {
    background: #ffffff;
    margin-left: -18px;
}
.containerone .expndd {
    margin: 0 auto;
}
.containerone .newsectna {
    width: 50.224%;
}
.containerone .sectionfiovea {
    width: 336px;
    border-right: 3px solid #d6d6d6;
    text-align: right;
}
.containerone .sectionfiovea h2 {
    font-size: 16px;
    color: #333333;
    padding: 11px 20px 11px 0px;
}
.containerone .sectionfiovea h3 {
    font-size: 16px;
    color: #333333;
    padding: 0px 20px 18px 0px;
}
.containerone .spthreea {
    display: inline-block;
    background: #ffffff;
    width: 12px;
    margin: 5px 0px 5px 12px;
}
.containerone .sectionfiovea h1 {
    width: 225px;
    margin-left: 230px;
    background: #ffffff;
}
.containerone .sectionmaintwo {
    padding: 100px 0;
}
/*tabthree starts*/

.containerone .treeclr {
    width: 510px;
    min-height: 275px;
    background-color: #0074FF;
    position: relative;
}
.containerone .mytree {
    width: 1037px;
    margin: 0 auto;
    padding: 110px 20px 0 20px;
}
.containerone .tree {
    width: 446px;
    position: absolute;
    top: -24px;
    left: 64px;
    box-shadow: 8px -8px 25px #eeeeee;
}
.containerone .hbox {
    width: 453px;
    margin-top: -27px;
}
.containerone .hbox h1 {
    font-size: 25px;
    color: #0074FF;
}
.containerone .hbox h2 {
    font-size: 18px;
    color: #f6f0e6;
    padding: 10px 0 12px 0;
}
.containerone .mybrdr {
    width: 55px;
    height: 2px;
    background-color: #0074FF;
    display: block;
    margin-bottom: 25px;
}
.containerone .hbox p {
    font-size: 15px;
    color: #333333;
    line-height: 26px;
}
.containerone .sectwo {
    padding-top: 133px;
    width: 78%;
    margin: 0 auto;
}
.containerone .sectwo h1 {
    font-size: 25px;
    color: #0074FF;
    text-align: center;
}
.containerone .sectwo h2 {
    font-size: 18px;
    color: #f6f0e6;
    padding: 10px 0 12px 0;

    text-align: center;
}
.containerone .adjuster {
    margin: 0 auto;
}
.containerone .clrbox {
    background-color: #fff;
}
.containerone .forest {
    width: 299px;
    position: relative;
    padding-top: 50px;
}
.containerone .forestimgone {
    width: 300px;
    position: relative;
}
.containerone .leftboxone {
    background-color: #fff;
    width: 578px;
    box-shadow: 0px 1px 13px #eeeeee;
    position: absolute;
    top: -36%;
    right: 80%;
    text-align: right;
    padding: 0px 23px 24px 0px;
}
.containerone .leftboxone h4 {
    font-size: 26px;
    color: #0074FF;
    padding: 31px 0 7px 0;
}
.containerone .leftboxone h5 {
    font-size: 15px;
    color: #d0d0d0;
    padding: 0px 0 25px 0;
}
.containerone .leftboxone h3 {
    font-size: 14px;
    color: #666666;
    padding: 0px 0 8px 0;
}
.containerone .forestone {
    margin: 199px 0 0px 0;
}
/*tabthree ends*/
/*skypeeeeeeeee starts*/

.containerone .extrabox {
    background-color: #fff;
    width: 600px;
    box-shadow: 0px -3px 13px rgba(0, 0, 0, .14);
    position: absolute;
    top: 24%;
    left: 80%
}
.containerone .extrabox h4 {
    font-size: 26px;
    color: #0074FF;
    padding: 43px 0 7px 0;
}
.containerone .extrabox h5 {
    font-size: 15px;
    color: #d0d0d0;
    padding: 0px 0 25px 0;
}
.containerone .extrabox h3 {
    font-size: 14px;
    color: #666666;
    padding: 0px 0 6px 0;
}
.containerone .blacker {
    color: #333;
}
.containerone .leftbox {
    padding: 0 0px 26px 30px;
}
/*skypeeeeeeeee ends*/

.containerone .padnew {
    padding-bottom: 20px;
}
.containerone .forestimgoneextra {
    width: 356px !important;
}
.containerone .leftboxoneextra {
    width: 530px !important;
    top: -17%;
    right: 85%;
}
.containerone .forestoneextra {
    margin: 181px 0 0px 0 !important;
}
.containerone .foresta {
    width: 350px !important;
}
.containerone .extraboxa {
    top: 28% !important;
    left: 83% !important;
    width: 552px !important;
}
.containerone .sectionfive {
    padding-bottom: 153px;
}
.containerone .mapsectionnews {
    width: 1078px;
    padding: 40px 0;
}
.containerone .mapsectionnews p {
    width: 909px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    letter-spacing: 1px;
	padding-bottom:25px;
}
.containerone .padno {
    padding: 0px 20px 0px 20px !important;
}
/*2关于恒泰_集团介绍_introduce*/
/*containerthree starts page 5*/

.containerthree {
    position: relative;
    top: -70px;
}
.containerthree .timeline {
    margin-left: 55px;
    padding-top: 60px;
}
.containerthree .date {
    width: 75px;
    background: #0074FF;
    padding: 10px 3px 10px 0px;
    margin: 0px 0px 50px 9px;
}
.containerthree .date h1 {
    font-size: 13px;
    color: #ffffff;
    text-indent: 28px;
    padding-bottom: 7px;
}
.containerthree .date h2 {
    font-size: 28px;
    color: #ffffff;
    text-indent: 9px;
}
.containerthree .loopcont {
    margin-left: 86px;
}
.containerthree .innerbox {
    padding-left: 35px;
    border-left: 2px solid #d6d6d6;
}
.containerthree .innerboxbordnone {
    border-left: none !important;
}
.containerthree .imgleft {
    width: 160px;
    border-radius: 5px;
    overflow: hidden;
}
.containerthree .description {
    width: 676px;
    margin-left: 22px;
}
.containerthree .description h1 {
    font-size: 15px;
    color: #333333;
    margin-bottom: 15px;
}
.containerthree .description p {
    font-size: 14px;
    color: #666666;
    line-height: 26px;
}
.containerthree .contentbox {
    position: relative;
}
.containerthree .box {
    padding-bottom: 57px;
}
.containerthree .datebox {
    position: absolute;
    left: -13%;
    width: 89px;
    padding: 5px 0px;
    background: #ffffff;
    top: -4%;
}
.containerthree .dteboxoveride {
    top: -2% !important;
}
.containerthree .dteboxoveridetwo {
    left: -12.8% !important;
    top: -6% !important;
}
.containerthree .dteboxoveridethree {
    top: -3% !important;
}
.containerthree .datebox h1 {
    font-size: 14px;
    color: #cccccc;
    width: 61px;
}
.containerthree .datebox span {
    display: inline-block;
    width: 12px;
    margin-left: 15px;
}
.containerthree .bgcolorwhite {
    background: #fff;
}
.containerthree .bordbottom {
    width: 1080px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}
.containerthree .margbotom {
    padding-bottom: 0px !important;
    margin-bottom: 57px;
}
.containerthree .ovride {
    border-bottom: none !important;
}
/*containerthree starts page 9*/

.containerthree .tabcont {
    width: 1080px;
    margin: 0 auto
}
.containerthree .tabmagfix {
    margin-left: 0px !important;
}
.containerthree .MainTab .TabbedPanelsTab {
    margin: 0 0px 0px 67px;
}
.containerthree .MainTab .TabbedPanelsTabGroup {
    width: 70% !important;
}
.containerthree .heading p {
    font-size: 16px;
    color: #0074FF;
    padding: 41px 0px;
    line-height: 31px;
}
.containerthree .innertext {
    width: 1000px;
    margin: 0 auto;
}
.containerthree .TabbedPanelsContent {
    width: 100%;
}
.containerthree .heading {
    border: 2px solid #0074FF;
    margin: 50px 0px;
    box-shadow: 6px 5px 0px 0px #0074FF;
}
.containerthree .leftside {
    width: 494px;
}
.containerthree .rightside {
    width: 446px;
}
.containerthree .mainblock {
    width: 977px;
    margin: 0 auto 90px auto;
}
.containerthree .imgboxborder {
    border: 2px solid #0074FF;
}
.containerthree .imgbox {
    width: 494px;
    position: relative;
}
.containerthree .descriptionone h1 {
    font-size: 24px;
    color: #333333;
    margin: 16px 0px 25px 0px;
}
.containerthree .descriptionone p {
    font-size: 15px;
    color: #666666;
    line-height: 25px;
    height: 194px;
}
.containerthree .margleftfix {
    margin-left: 37px;
}
.containerthree .posfixright {
    right: -8px;
    bottom: 8px;
}
.containerthree .posfixlefttwo {
    left: -12px;
    bottom: 8px;
}
.containerthree .posfixleft {
    left: -12px;
    top: 8px;
}
.containerthree .textright {
    text-align: right;
    padding-right: 14px;
}
.containerthree .desfix {
    width: 448px !important;
}
.containerthree .margfix {
    margin-left: 27px;
}
.containerthree .rightfix {
    width: 494px;
}
/*containerthree starts page 8*/

.containerthree .whitebox {
    background-color: #fff;
    padding-bottom: 82px;
}
.containerthree .whitebox h1 {
    font-size: 30px;
    color: #333333;
    padding: 55px 0 13px 0;
    text-align: center;
}
.containerthree .whitebox h2 {
    font-size: 15px;
    color: #aaaaaa;
    margin-bottom: 50px;
    text-align: center;
}
.containerthree .whitebox p {
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    text-indent: 27px;
    width: 1057px;
    margin: 0 auto;
}
.containerthree .picbox {
    width: 1017px;
    margin: 38px auto 38px auto;
}
.containerthree .nopadding {
    margin-bottom: 38px !important;
}
.containerthree .padbottom {
    padding-bottom: 118px !important;
}
.containerthree .TabbedPanelsContent .margbottom {
    margin: 0px 0px 163px 0px !important;
}
/*containerthree ends*/
/* containertwo start*/

.containertwo {
    position: relative;
    top: -70px;
    padding-bottom: 10px;
}
.containertwo .mywrapper {
    background: #ffffff;
    padding-bottom: 90px;
}
.containertwo .mywrapper h1 {
    font-size: 25px;
    text-align: center;
    color: #0074FF;
    padding-top: 107px;
}
.containertwo .adjust {
    padding-top: 50px !important;
}
.containertwo .adjustbrdr {
    border-bottom: none;
    padding: 6px 51px !important;
}
.containertwo .mywrapper h2 {
    font-size: 18px;
    line-height: 43px;
    opacity: 0.2;
    text-align: center;
    color: #0074FF;
    text-transform: uppercase;
}
.containertwo .bordercolor {
    width: 55px;
    margin: 0 auto 39px auto;
    border: 1px solid #0074FF;
    display: block;
}
.containertwo .borderwrapper {
    width: 940px;
    margin: 0 auto;
}
.containertwo .borderwrapper li {
    float: left;
    border-right: 1px solid #f2f2f2;
    padding: 5px 51px;
}
.containertwo .padddown {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 28px !important;
}
.containertwo .paddtop {
    padding-top: 28px !important;
}
.containertwo .noborder {
    border-right: none !important;
}
.containertwo .borderwrapper li a {
    width: 132px;
    display: block;
}
/*wrk7*/

.containertwo .mainbox {
    background-color: #fff;
    padding: 68px 0 50px 0;
}
.containertwo .picbox {
    width: 988px;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 50px;
}
.containertwo .noborderx {
    border: 0 !important;
}
.containertwo .picboxa {
    width: 170px;
    box-shadow: 0px 2px 27px #f6f5f6;
}
.containertwo .picture {
    width: 123px;
    margin: 38px auto;
}
.containertwo .hbox {
    margin-left: 31px;
}
.containertwo .hbox h1 {
    font-size: 18px;
    color: #333333;
    padding: 11px 0 25px 0;
}
.containertwo .hbox h2 {
    font-size: 14px;
    color: #999999;
    padding-bottom: 7px;
}
.containertwo .myblack {
    color: #333333;
}
/* containertwo ends*/

.containerFour .animtrans{
	animation:movetop .8s ease;
}
@keyframes movetop{
	0%{
		top:0px;		
	}
	100%{		
		top: -52px;
	}		
}