.containerFour .loopSet dl dd p {
    height: 200px;
}
.containerFour .sectionFour {
    padding-bottom: 0px;
}
.containerFour .animalsec .hbox {
    padding-bottom: 60px;
}
.modal-wrapper{
    max-width:910px;
    height:460px;
}
.modal-wrapper input{
    border:1px solid black;
}
.modal-wrapper input{
    box-sizing: border-box;
    -webkit-appearance: auto;
    border-color:#DBDCE1;
    padding:10px;
}
.modal-top{
    height:100px;
}
.modal-top p{
    font-size: 20px;
    margin-top: 24px;
}
.modal-top img{
    width:120px;
    height:35px;
    margin-top: 20px;
}
.modal-top p{
    margin-left:30px;
}
.modal-left{
    box-sizing: border-box;
    width:50%;
    padding-right:20px;
}
.leftdiv {
    margin-top:20px;
}
.leftdiv p{
    margin-left:24px;
    color:#0074ff;
}
.leftdiv input{
    margin-top:5px;
}
.modal-right{
    box-sizing: border-box;
    width:50%;
    padding-left:20px;
}

.norinput{
    height:36px;
    width:360px;
}
.shortinput{
    height:36px;
    width:254px;
}
.mtop{
    margin-top:20px;
}
.but1{
    height:36px;
    width:100px;
}
.agr input{
    margin-top:5px;
}
.agr p{
    margin-left:24px;
}
.but2{
    width:360px;
    height:36px;
    border-radius: 20px;
    background:#0074ff;
    color:white;
}