.containerthree .MainTab .TabbedPanelsTabGroup{
	text-align: center;
	display: flex;
	justify-content: center;
}
.containerthree .MainTab .TabbedPanelsTab{
	margin:  0 0 0 120px;
}
.MainTab .TabbedPanelsTab{
	width: auto;
}
.containerthree .leftside{
	width: auto;
}
.leftside .imgbox_new {
	height: 306px;
	width: 269px;
}
.rightside .imgbox_new {
	height: 306px;
	width: 269px;
}
.containerthree .mainblock{
	width: auto;
	margin: auto auto 0 auto !important;
}
.containerthree .rightside{
	width: 793px;
}
.desfix{
	width: 793px;
}
.containerthree .margleftfix{
	margin-left: 17px;
}
.descriptiononfix{
	margin-left: 0;
	margin-right: 17px;
}
.descriptiononfix h4,
.descriptiononfix h3,
.descriptiononfix p ,
.descriptiononfix h1 {
	text-align: right;
}
.descriptiononfix h1{
	display: inline-block;
	margin-left: 675px !important;
}
.descriptionone h4{
	font-size: 14px;
	font-weight: bold;
	color: #0074FF;
	line-height: 20px;
	margin-top: 28px;
}
.descriptionone h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333333;
	letter-spacing: 1px;
	margin-top: 3px !important;
	margin-bottom: 16px !important;
	padding-bottom: 13px;
	border-bottom: 1px solid #999;
	width: 100px;
}
.descriptionone h3 {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	line-height: 20px;
	margin-bottom: 14px;
}
.descriptionone p {
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	line-height: 24px;
}


.service_tit{
	text-align: center;
	margin-bottom: 30px;
}
.service_tit h1,
.service_tit h2{
	text-align: center;

}
.service_tit h1{
	font-size: 24px;
	font-weight: 400;
	color: #333333;
	line-height: 33px;
	letter-spacing: 1px;
}
.service_tit h4{
	font-size: 18px;
	font-weight: 400;
	color: #333333;
	line-height: 25px;
	display: inline-block;
	margin-top: 6px;
}
.service_tit .border-b{
	width: 48px;
	height: 1px;
	border-bottom: 2px solid #0074ff;
	margin: auto;
	margin-top: 10px;
}

.introduction_team{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}
.introduction_team .team_box{
	width: 305px;
	height: 250px;
	padding: 0 18px;
	background: #FFFFFF;
	border-radius: 4px;
	border: 2px solid #0074FF;
	border-top: 8px solid #0074FF;
}
.team_box img{
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: middle;
}
.team_box_tit{
	height: 86px;
	line-height: 86px;
}
.team_box_tit img{
	margin-right: 14px;
}
.team_box_body{
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	line-height: 24px;
}
.introduction_team{
	padding-bottom: 30px;
}
.setdirection{
	margin: 30px 100px 60px; 
}
.setdirection h2{
	font-size: 18px;
	color: #333;
	font-weight: 600;
	margin-bottom: 6px;
}
.setdirection h4 {
	font-size: 14px;
	color: #333;
	font-weight: 600;
	margin-bottom: 6px;
}
.setdirection p {
	font-size: 14px;
	color: #333;
	line-height: 24px;
	letter-spacing: 1px;
}
.direction_img_tab1{
	margin-top: 50px;
}
.direction_img_tab1 img {
	width: 686px;
	margin: auto;
}
.inverstment_direction{
	background: #F7FBFF;
	padding: 30px 0;
	margin-bottom: 30px;
}
.direction_img_tab2 img {
	width: 857px;
	margin: auto;
}
.setdirection strong{
	font-weight: 600;
}

.duite{
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: start;
	margin-top: 40px;
}
.duite_img{
	vertical-align: middle;
	margin-right: 14px;
}
.duite_img img{
	width: 48px;
	height: 48px;
}
.duite_text .tit{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
	color: #333;
}
.duite_text .info {
	font-size: 14px;
	font-weight: 400;
	color: #666666;
	line-height: 24px;
	letter-spacing: 1px;
}